---
---

@import "minima";

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    color: #383838;
}

.home {
    margin: 0 auto;
    text-align: center;
}

.footer-home {
    margin: 0 auto;
    text-align: center;
}

.footer-div {
    padding: 4px;
}

.site-footer { border-top: 1px solid #e8e8e8; padding: 14px 0; }

.profile {
    border-radius: 50%;
    max-width: 200px;
}

.svg-icon { width: 18px; height: 18px; display: inline-block; fill: #828282; padding-left: 8px; padding-right: 8px; vertical-align: text-top; }
