---
---

@import "minima";

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    color: #383838;
}

.home {
    margin: 0 auto;
    text-align: center;
}

.footer-home {
    margin: 0 auto;
    text-align: center;
}

.footer-div {
    padding: 4px;
}

.site-footer { border-top: 1px solid #e8e8e8; padding: 14px 0; }

.profile {
    border-radius: 50%;
    max-width: 200px;
}

.svg-icon { width: 18px; height: 18px; display: inline-block; fill: #828282; padding-left: 8px; padding-right: 8px; vertical-align: text-top; }

// .media-table {
//     display: block;
//     overflow-x: auto;
//     white-space: nowrap;
// }

.iframely-embed {
    padding-bottom: 8px;
}

.media {
    padding-bottom: 8px;
}

.post-title { font-size: 42px; letter-spacing: -1px; line-height: 1; margin-left: -4px;}
@media screen and (max-width: 800px) { .post-title { font-size: 36px; } }

// .media-scroll {overflow-y: scroll; display: block;}

.publications-cover {
    padding: 0%; vertical-align: middle; width:22%; background-size: 100% auto; background-position: center; background-repeat: no-repeat;
}

.publications-content {
    font-size: 14px;
    text-overflow: ellipsis;
}

.publications-table {
    border: none;
}

.publications-table p {
    margin-bottom: 0px;
}

.publications-table td {
    border: none;
    vertical-align: top;
    padding-top: 0px;
    padding-bottom: 0px;
}

.page-content {
    padding-top: 30px;
    flex: 0;
}

@media screen and (max-width: 800px) { .publications-cover { width: 30%; } }
@media screen and (max-width: 800px) { .publications-content { font-size: 10px; } }
@media screen and (max-width: 800px) { .publications-table { margin-bottom: 20px;} }

.site-header { 
    border-top: none; 
    border-bottom: 1px solid #e8e8e8; 
    min-height: 55.95px; 
    position: relative; }

.site-header {
    position: sticky;
    top: 0;
    background: white;
    z-index: 100;
}

.svg-icon {
    opacity: 70%;
}

.svg-icon:hover {
    opacity: 100%;
}

.svg-icon:active {
    opacity: 100%;
}

.svg-icon:focus {
    opacity: 100%;
}