---
---

@import "minima";

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    color: #383838;
}

.home {
    margin: 0 auto;
    text-align: center;
}

.footer-home {
    margin: 0 auto;
    text-align: center;
}

.footer-div {
    padding: 4px;
}

.site-footer { border-top: 1px solid #e8e8e8; padding: 14px 0; }

.profile {
    border-radius: 50%;
    max-width: 200px;
}

.svg-icon { width: 18px; height: 18px; display: inline-block; fill: #828282; padding-left: 8px; padding-right: 8px; vertical-align: text-top; }

// .media-table {
//     display: block;
//     overflow-x: auto;
//     white-space: nowrap;
// }

.iframely-embed {
    padding-bottom: 8px;
}

.media {
    padding-bottom: 8px;
}

.post-title { font-size: 42px; letter-spacing: -1px; line-height: 1; margin-left: -4px;}
@media screen and (max-width: 800px) { .post-title { font-size: 36px; } }

.media-scroll {max-height: 36vh; overflow-y: scroll; display: block;}